:root {
    /* Espaces des sections */
    --section-pc-padding: 0px 100px;
    --section-tablet-padding: 0px 35px;
    --section-mobile-padding: 0px 20px;
    --section-top-bottom-padding: 50px;

    /* Couleurs */
    --jaune-color: #FFD15B;
    --gris-color: #EDEDED;
    --gris-2-color: #CCC;
    --gris-fonce-color: #A7A4A4;
}

h1 {
    margin: 0;
}

h1,
h2,
h3,
p,
span {
    word-break: break-word;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/***********

* Header

***********/

/* Container parent */

#headerContainer {
    position: relative;
    background-image: url(./src/images/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: var(--section-pc-padding);
    padding-top: var(--section-top-bottom-padding);
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#headerContainer:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.3;
}

/* Titre du site */

#h-ContainerTitle {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

#h-CT-Title {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

#h-CT-TitleIconOut {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#h-CT-TitleIconIns {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
}

/* Barre de recherche */

#hC-SearchBar {
    padding: var(--section-pc-padding);
    position: relative;
}

#hC-SB-Title {
    color: var(--jaune-color);
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.search-bar {
    display: flex;
    height: 70px;
}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    padding-right: 100px;
}

.search-button {
    border: none;
    border-radius: 0px 15px 15px 0px;
    background: white;
    width: 40px;
    padding: 0;
    padding-right: 50px;
}

.search-button>svg {
    fill: white;
    background-color: black;
    height: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: .3s;
}

.search-button>svg:hover {
    fill: black;
    background-color: var(--jaune-color);
    cursor: pointer;
    transition: .3s;
}

.search-bar-clear {
    position: absolute;
    right: 170px;
    transform: translateY(50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    color: var(--gris-2-color);
    display: none;
}

/***********

* Recettes

***********/

/* Le container de la page */

#recipesContainer {
    padding: var(--section-pc-padding);
    padding-top: var(--section-top-bottom-padding);
    padding-bottom: var(--section-top-bottom-padding);
    background-color: var(--gris-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Le container pour les cards */

#rC-Recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

/* Single card */

.recipe-card {
    background-color: white;
    border-radius: 30px;
}

.card-content {
    padding: 30px;
}

.card-content>div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-content>div>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gris-fonce-color);
    letter-spacing: 3px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}

.card-image div {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--jaune-color);
    padding: 5px 10px;
    border-radius: 100px;
}

.ing-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.ing-span {
    display: flex;
    flex-direction: column;
}

.ing-qu {
    color: var(--gris-fonce-color)
}

/* Dropdowns - Container parent */

#rC-Sorting {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* Boutons dropdowns */

.dropdown {
    position: relative;
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    border-radius: 15px;
}

.dropbtn .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s;
    width: 0px;
    height: 0px;
}

.dropbtn.dropdown-active .arrow {
    transform: rotate(225deg);
}

.dropbtn.dropdown-active {
    border-radius: 15px 15px 0 0;
}

/* Les éléments dans le dropdown */

.dropdown-content {
    border-radius: 0 0 15px 15px;
    padding-bottom: 0;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 5px lightgrey;
    z-index: 1;
}

.show-dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content.show-dropdown-content {
    border-radius: 0 0 0px 15px;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 300px;
}

.dropdown-items>span,
.selected-item {
    padding: 12px 16px;
}

.dropdown-items>span:hover,
.selected-item {
    background-color: var(--jaune-color);
}

.selected-items {
    padding-bottom: 12px;
}

.selected-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown-items>span:last-child:hover {
    border-radius: 0px 0px 0px 11px;
}

.selecteditems-delete-icon {
    display: none;
    cursor: pointer;
}

.selected-item:hover .selecteditems-delete-icon {
    display: inline-block;
}

.dropdown-item--active {
    display: none;
}

.selected-items-parent>.selected-item {
    padding: 16px;
}

.selected-items-parent>.selected-item:first-child {
    border-radius: 15px 15px 0px 0px;
    margin-top: 12px;
}

.selected-items-parent>.selected-item:last-child {
    border-radius: 0px 0px 15px 15px;
}

.selected-items-parent>.selected-item:only-child {
    border-radius: 15px;
}

/* La barre de recherche dans le dropdown */

.search-box {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 16px;
}

.dropdown-search {
    padding: 8px;
    padding-right: 25px;
    border: 1px solid var(--gris-2-color);
    border-radius: 3px;
    width: 100%;
    outline: none;
}

.search-clear {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--gris-2-color);
    display: none;
}

.search-clear--active {
    display: block;
}

/***********

* Medias

-- Tailles d'écrans --

Mobile : 600px
Tablette : 1024px

***********/

@media (max-width: 1024px) {
    #recipesContainer {
        padding: var(--section-tablet-padding);
        padding-top: var(--section-top-bottom-padding);
        padding-bottom: var(--section-top-bottom-padding);
    }

    #hC-SB-Title {
        font-size: 40px;
    }

    #hC-SearchBar {
        padding: var(--section-tablet-padding);
    }

    #headerContainer {
        padding: 0;
        padding-top: var(--section-top-bottom-padding);
        padding-bottom: var(--section-top-bottom-padding);
    }

    header {
        padding: var(--section-tablet-padding);
    }

    .search-input {
        padding-right: 50px;
    }

    .search-bar-clear {
        right: 100px;
    }

    #rC-Sorting {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #recipesContainer {
        padding: var(--section-mobile-padding);
        padding-top: var(--section-top-bottom-padding);
        padding-bottom: var(--section-top-bottom-padding);
    }

    #hC-SB-Title {
        font-size: 25px;
    }

    #h-CT-Title {
        font-size: 21px;
    }

    #h-ContainerTitle {
        justify-content: center;
    }

    #hC-SearchBar {
        padding: var(--section-mobile-padding);
    }

    .search-input {
        padding-right: 35px;
    }

    .search-bar-clear {
        right: 72px;
    }
}